

.cont { /* entire game and leaderboard display */ 
	display: flex;
	justify-content: space-evenly;
	border: 4px solid black;
	padding: 10px;
}

#blk { /* edits individual game and leaderboard blocks */ 
	border: 2px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 300px;
	width: 300px;
	text-align: center;
}

img {
	max-width: 70%;
  max-height: 70%;
}

h2::after { /* line after game titles */
	content: "";
  display: block;
  border-bottom: 2px solid black;
  margin-top: 5px;
	
}



					/* Leaderboard settings */ 

.score_elem {
	display: flex;
	columns: 149px 2px 149px;
	justify-content: space-around;
}

.score#line {
	content: "";
	display: block;
	top: 0;
	bottom: 0;
  border-right: 2px solid black;
}

.score {
}



